In [1]:
# Full Name:  Muhammad Umer Adeeb
# Contact No: 03412114514
# Program Name: PGD Data Science and AI

# Part 1: Attempt any 8 Question

Question 1: 
Define two variables, `num1` and `num2`, with values 40 and 52 respectively.Write a Python expression to calculate the sum, difference, product, and quotient of these two variables.

In [9]:
#Answer
num1 = 40
num2 = 52

sum = num1+num2
difference = num1-num2
product = num1*num2
quotient = num1/num2

print('The sum of above two numbers is',sum)
print('The difference between two numbers is',difference) 
print('The product of two numbers is',product)
print('The quotient of two numbers is',quotient)

The sum of above two numbers is 92
The difference between two numbers is -12
The product of two numbers is 2080
The quotient of two numbers is 0.7692307692307693

Question 2: 
Write a Python script that checks if a number entered in a variable `num` by a user is positive, negative, or zero,or check if a user enter any invalid character and prints an appropriate message for each case.

In [135]:
#answer

given_nr = input('Enter number:')

if given_nr.lstrip('-').isdigit():
    number = int(given_nr)

    if number > 0:
        print(number, 'is positive')
    elif number == 0:
        print('You entered', number)
    else:
        print(number, 'is negative')
else:
    print("Invalid input! Please enter a valid integer.")

Enter number: j

Invalid input! Please enter a valid integer.

Question 3:Write a Python script using a for loop to print all the even numbers between 1 and 20 (inclusive).

In [15]:
#Answer
for i in range(1,21):
    if i%2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20

Question 4:Create two string variables `first_name` and `last_name`. Write a Python script to concatenate these two strings with a space in between and print the full name

In [19]:
#Answer
first_name = 'Umer'
last_name = 'Adeeb'
concatenate = first_name + ' ' + last_name 
print('Full naame is',concatenate)

Full naame is Umer Adeeb

Question 5: Write a Python script to calculate the area of a rectangle. The length and width of the rectangle should be stored in variables `length` and `width`.

In [20]:
#Answer
length = float(input('Enter length:'))
width = float(input('Enter width:'))
area = length*width

print('The area of rectangle is',area)

Enter length: 100
Enter width: 25

The area of rectangle is 2500.0

Question 6:Write a program to check if a string enter by a user is a palindrome or not.

In [24]:
#Answer
str = input('Enter a string:')
reverse = str[::-1]
print(reverse)

if str == reverse:
    print(str,'is palindrome')
else:
    print(str,'is not palindrome')

Enter a string: radar

radar
radar is palindrome

Question 7: Write a program to check if a number enter by user is prime.

In [118]:
#answer
number = int(input('Enter number:'))

prime_number = True
if number >1:
    for i in range(2, number):
        if number % i == 0:
            prime_number = False
            break
            
    else:
        prime_number=True
else:
    print('You have entered an invalid number')

if prime_number:
    print(number,'is a Prime number')
else:
    print(number,'is not a Prime number')

Enter number: 45

45 is not a Prime number

Question 8: Write a Python script that uses a for loop to iterate through numbers from 1 to 15. For each number, print "Fizz" if the number is divisible by 3, "Buzz" if it is divisible by 5, and "FizzBuzz" if it is divisible by both 3 and 5.

In [115]:
for i in range(1,16):
    if i % 3 ==0 and  i %5==0:
        print(i,'FizzBuzz')
    elif i % 5 ==0:
        print(i,'Buzz')
    elif i % 3 == 0:
        print(i,'Fizz')

3 Fizz
5 Buzz
6 Fizz
9 Fizz
10 Buzz
12 Fizz
15 FizzBuzz

Question 9 : Write a Python script that asks the user for their name and age, stores them in variables, and then prints a message saying "Hello [name], you are [age] years old."

In [28]:
#Answer:
name = input('Enter your name:')
age = int(input('Enter your age:'))
print(f'Hello {name} you are {age} years old.')

Enter your name: Umer
Enter your age: 29

Hello Umer you are 29 years old.

# Part 2: Find error in a code and find the output

In [33]:
# student_names = ['Luis', 'Divya' 'Maria', 'Mimi')
# student_names.append('Arnold)

#Answer
# There were two errors.
#     1- Parentheses was used in the end of the list.
#     2- Inverted comma was missing while appending element is list.

student_names = ['Luis', 'Divya' 'Maria', 'Mimi']
student_names.append('Arnold')
student_names

['Luis', 'DivyaMaria', 'Mimi', 'Arnold']

In [50]:
# find the sum of element in a list
# nums = (3, 8, -4, 22, 0,)

#for num in nums
#num = num--1

#Answer:
# For sum += will be used.
# Secondly 'sum' variable will be assigned to add elements present in tuple otherwise it will give error in for loop that int and tuple cannot itterate.

# find the sum of element in a list
nums = (3, 8, -4, 22, 0,)
sum = 0
for num in nums:
    sum += num
print(sum)

29

In [56]:
# ages = {
# 'Ahmed': 21,
# 'Faraz: 21
# Sarah': 41
# }

# print('Faraz is {ages} years old.'.format(ages : 24))

In [70]:
#Answer:
#inverted commas were missing and also coma which separate two elements of dictionary is missing after Faraz's age.
#For printing Faraz age key value index is mi
ages = {
'Ahmed': 21,
'Faraz': 21,
'Sarah': 41
}

faraz = ages['Faraz']

print('Faraz is {} years old.'.format(faraz))

Faraz is 21 years old.

In [5]:
# Define Mutable and immutable data types with example.
# write a syntax of for loop

In [76]:
#Answer

# List and dictionaries are mutable.
# tuples are immutable

list = [1,2,3,4,5]
list.insert(1,6)
list.append(10)
print(list)

dic = {'Name':'Umer', 'Age':'29'}
dic['city'] = 'Karachi'
print(dic)

#for i in value:
# here,
# for is used to start a loop
# i here act as an itterator
# in in membership operator
# value is the one which is itterable

[1, 6, 2, 3, 4, 5, 10]
{'Name': 'Umer', 'Age': '29', 'city': 'Karachi'}