Exercises: Level 1 Create an empty tuple. Create a tuple containing names of your sisters and your brothers (imaginary siblings are fine). Join brothers and sisters tuples and assign it to siblings. How many siblings do you have? Modify the siblings tuple and add the name of your father and mother and assign it to family_members.

Exercises: Level  2Unpack siblings and parents from family_member. sCreate fruits, vegetables and animal products tuples. Join the three tuples and assign it to a variable called food_stuff_tp .Change the about food_stuff_tp tuple to a food_stuff_lt lis. tSlice out the middle item or items from the food_stuff_tp tuple or food_stuff_lt list .Slice out the first three items and the last three items from food_staff_lt lis. tDelete the food_staff_tp tuple completel. yCheck if an item exists in tuple





Check if 'Estonia' is a nordic count




ry
Check if 'Iceland' is a nordic country

In [1]:
#Create an empty tuple. Create a tuple containing names of your sisters and your brothers (imaginary siblings are fine).
empty_tuple = ()
print(type(tuple))

brothers = ('Ahmed', 'Usama') 
sisters = ('Maryam', 'Sana')
print(brothers)
print(type(brothers))
print(sisters)
print(type(sisters))

<class 'type'>
('Ahmed', 'Usama')
<class 'tuple'>
('Maryam', 'Sana')
<class 'tuple'>

In [2]:
# Join brothers and sisters tuples and assign it to siblings

siblings = brothers + sisters
print(siblings)
print(type(siblings))

('Ahmed', 'Usama', 'Maryam', 'Sana')
<class 'tuple'>

In [3]:
#How many siblings do you have? Modify the siblings tuple and add the name of your father and mother and assign it to family_members.

father = 'Raza'
mother = 'Zara'

family_members = siblings + (father, mother)

print(family_members)
print(type(family_members))

('Ahmed', 'Usama', 'Maryam', 'Sana', 'Raza', 'Zara')
<class 'tuple'>

In [4]:
#Unpack siblings and parents from family_members.

a,b,c,d,e,f = family_members

sib = (a,b,c,d)
parents = (e,f)
print(sib)
print(type(sib))
print(parents)
print(type(parents))

('Ahmed', 'Usama', 'Maryam', 'Sana')
<class 'tuple'>
('Raza', 'Zara')
<class 'tuple'>

In [5]:
#Create fruits, vegetables and animal products tuples.

fruits = ('Apple', 'Mango', 'Peach')
vegetables = ('Potato', 'Tomato', 'Ladyfinger')
animal_products = ('Milk', 'Eggs', 'Chese')

print(type(fruits))

<class 'tuple'>

In [6]:
#Join the three tuples and assign it to a variable called food_stuff_tp.
food_stuff_tp = fruits + vegetables + animal_products
print(type(food_stuff_tp))
food_stuff_tp

<class 'tuple'>

('Apple',
 'Mango',
 'Peach',
 'Potato',
 'Tomato',
 'Ladyfinger',
 'Milk',
 'Eggs',
 'Chese')

In [7]:
#Change the about food_stuff_tp tuple to a food_stuff_lt list.

food_stuff_lt = list(food_stuff_tp)
print(type(food_stuff_lt))
food_stuff_lt

<class 'list'>

['Apple',
 'Mango',
 'Peach',
 'Potato',
 'Tomato',
 'Ladyfinger',
 'Milk',
 'Eggs',
 'Chese']

In [8]:
#Slice out the middle item or items from the food_stuff_tp tuple or food_stuff_lt list

n = len(food_stuff_lt)
print(n)

if n % 2 == 0:
    middle = food_stuff_lt[n//2 -1,n//2 +1]
else:
    middle = food_stuff_lt[n//2]
    
print(middle)

9
Tomato

In [9]:
#Slice out the first three items and the last three items from food_staff_lt list

first_three = food_stuff_lt[:3]
print(first_three)

last_three = food_stuff_lt[-3:]
print(last_three)

['Apple', 'Mango', 'Peach']
['Milk', 'Eggs', 'Chese']

In [10]:
#Check if an item exists in tuple
print(food_stuff_tp)
if 'Mango' in food_stuff_tp:
    print('Yes! Mango exists in tuple')
else:
    print('Mango doesnt exists in tuple')

('Apple', 'Mango', 'Peach', 'Potato', 'Tomato', 'Ladyfinger', 'Milk', 'Eggs', 'Chese')
Yes! Mango exists in tuple

In [11]:
#Delete the food_staff_tp tuple complete
del food_stuff_tp

In [12]:
print(food_stuff_tp)

NameError: name 'food_stuff_tp' is not defined