***Exercises: Level 1The following is a list of 10 students ages:***

ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

Q1: Sort the list and find the min and max age

In [1]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
print(ages)

mini = min(ages)
print("Minimum age is:", mini)
maxi = max(ages)
print("Maximum age is:", maxi)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Minimum age is: 19
Maximum age is: 26

Q2: Add the min age and the max age again to the list

In [2]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
mini = min(ages)
print("Minimum age is:", mini)
maxi = max(ages)
print("Maximum age is:", maxi)

ages.append(mini)
ages.append(maxi)

print(ages)

Minimum age is: 19
Maximum age is: 26
[19, 22, 19, 24, 20, 25, 26, 24, 25, 24, 19, 26]

Q3: Find the median age (one middle item or two middle items divided by two)

In [3]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
print(ages)
n = len(ages)
if n % 2 ==1:
    median_age = ages[n//2]
else:
    median_age = (ages[n//2+1] + ages[n//2]) / 2
print(median_age)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
24.0

Q4: Find the average age (sum of all items divided by their number )

In [4]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24] 
total = len(ages)
print('Total Numbers',total)
sum=0
for i in ages:
    sum+=i
print('Sum of numbers',sum)

average = sum / total
print('The average age is', average)

Total Numbers 10
Sum of numbers 228
The average age is 22.8

Q5: Find the range of the ages (max minus min)

In [5]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
maxi = max(ages)
print("Maximum age:", maxi)

mini = min(ages)
print("Minimum age:", mini)

range = maxi - mini
print("The range of ages is:", range)

Maximum age: 26
Minimum age: 19
The range of ages is: 7

Q6: Compare the value of (min - average) and (max - average), use  method

In [6]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
total = len(ages)
print('Total Ages',total)
sum=0
for i in ages:
    sum+=i
print('Sum of Ages',sum)

average = sum / total
print('The average age is', average)

maxi = max(ages)
print("Maximum age:", maxi)

mini = min(ages)
print("Minimum age:", mini)

compare_min = mini - average
print(compare_min)
compare_max = maxi - average
print(compare_max)

Total Ages 10
Sum of Ages 228
The average age is 22.8
Maximum age: 26
Minimum age: 19
-3.8000000000000007
3.1999999999999993

Q7: Find the middle country(ies) in the countries list. Divide the countries list into two equal lists if it is even if not one more country for the first half.['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']. Unpack the first three countries and the rest as scandic countries.

In [9]:
countries = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']
n = len(countries) 

if n % 2 == 0:
    first = countries[:n//2]
    second = countries[n//2:]
else:
    first = countries[:n//2+1]
    second = countries[n//2+1:]

c1, c2, c3, *scandic_countries = countries 

first_three = [c1, c2, c3]

print(first)
print(second)
print(first_three)
print(scandic_countries)

['China', 'Russia', 'USA', 'Finland']
['Sweden', 'Norway', 'Denmark']
['China', 'Russia', 'USA']
['Finland', 'Sweden', 'Norway', 'Denmark']